<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/spa.js"></script>
    <title>Gestión de cuentas</title>
</head>
<body>
    <header>
        <div class="container">
            Nombre APP
        </div>
    </header>
    <section class="container">
        <h1>
            Gestión de gastos e ingresos
        </h1>
        <nav>
            <ul></ul>
            <ul>
                <li><a href="#" role="button" id="btn_crear">Nuevo</a></li>
            </ul>
        </nav>
        <div id="movements_list">
            <table id="movements_table">
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </table>
        </div>
        <article id="movement_detail" class="inactive">
            <form id="movement_form">
                <input type="date" name="date" id="date">
                <input type="text" id="concept" name="concept" placeholder="En qué te has gastado o cobrado">
                <input type="number" name="quantity" id="quantity" step="0.01" placeholder="Cuánto has gastado o cobrado">
                <div class="grid">
                    <button id="btn_cerrar">Cerrar</button>
                    <button id="btn_aceptar">Aceptar</button>
                    <button class="inactive" id="btn_borrar">Borrar</button>
                    <button class="inactive" id="btn_modificar">Modificar</button>
                </div>
                
            </form>
        </article>
    </section>
    <footer>
        <div class="container">
            &copy; 2022 - Hecho con amor por Alfredo Sánchez
        </div>
        
    </footer>
</body>
</html>